# Database Files
pgdata/
postgres-data/
*.sql.gz
*.db
*.sqlite

# Python & System
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store

# Kestra & IDE
.kestra/
.idea/
.vscode/

#Logs & Outputs
logs/
output/
*.log